<!-- Products -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 app-highlight [highlightColor]="color">Products</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <app-product-form></app-product-form>
    </div>

    <div class="col-sm-7">
      <h3>Product List</h3>
      <!-- Product List -->
      <input class="form-control" placeholder="Search for..." [(ngModel)]="searchText" />
      <br>
      <app-product-detail [product]="p" *ngFor="let p of products | searchProducts : searchText : 'name'"></app-product-detail>
    </div>
  </div>
</div>
